@layer components {
  .username {
    color: $orange;
    font-weight: 700;
    font-size: 1.6rem;
  }
  .avatar {
    border-radius: 9999px;
    border: 5px solid $orange;
    width: 140px;
  }
  .key {
    font-weight: 700;
  }
  .value {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
