@tailwind base;
@tailwind components;
@tailwind utilities;
@import "npm:@fortawesome/fontawesome-free/css/all.css";
[x-cloak] {
    display: none;
}
.username {
    color: #f97316;
    font-weight: 700;
    font-size: 1.6rem;
}
.avatar {
    border-radius: 9999px;
    border: 5px solid #f97316;
    width: 140px;
}
.key {
    font-weight: 700;
}
.value {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.logo {
  font-size: 32px;
  font-weight: 700;
}
.logo span {
  color: #f97316;
}
.rating {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  flex-direction: column;
  grid-column: span 2 / span 2;
  height: 100%;
  padding-top: 1rem;
  display: flex;
}

.rating__name {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: grid;
}

.rating__values {
  flex-direction: column;
  display: flex;
}

.rating__value-line {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  display: grid;
}

.maker-bio-card {
  --tw-border-opacity: 1;
  border-width: 1px;
  border-color: rgb(228 228 231 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 36rem;
  min-height: 12rem;
  padding: 1rem;
  display: flex;
}

.maker-bio-card__header {
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: .25rem;
  display: flex;
}

@media (min-width: 1024px) {
  .maker-bio-card__header {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    display: grid;
  }
}

.maker-bio-card__body {
  text-align: justify;
  width: 100%;
  height: 100%;
  min-height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.maker-bio-card__footer {
  --tw-border-opacity: 1;
  border-top-width: 2px;
  border-color: rgb(203 213 225 / var(--tw-border-opacity));
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0;
}

.maker-bio-card__header--hcenter {
  justify-content: center;
  display: flex;
}

.maker-bio-card__stars {
  grid-column: span 2 / span 2;
}

.zing-card {
  --tw-border-opacity: 1;
  border-width: 1px;
  border-color: rgb(228 228 231 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 24rem;
  height: 100%;
  min-height: 12rem;
  display: flex;
}

.zing-card h2, .zing-card p.username {
  margin-left: 10px;
}

.zing-card h2 {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.zing-card p.username {
  margin-bottom: .75rem;
  font-size: 1rem;
}

.zing-card__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 13rem;
}

.zing-card__body {
  padding: 1rem;
}

.zing-card__body p {
  color: #333;
}